flows.json
[{"id":"b5a4bd87.37b8f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"62d07f1e.ab7b5","type":"telegram receiver","z":"b5a4bd87.37b8f","name":"BatmanBot","bot":"f2d81d75.f51c8","saveDataDir":"","filterCommands":false,"x":80,"y":260,"wires":[["de7f0fc5.0cb07"],[]]},{"id":"e85a4e2b.52e51","type":"debug","z":"b5a4bd87.37b8f","name":"debug assistant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.generic.0.text","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"c347b83c.5dcea8","type":"change","z":"b5a4bd87.37b8f","name":"Conteudo","rules":[{"t":"move","p":"payload.chatId","pt":"msg","to":"context.chatId","tot":"flow"},{"t":"move","p":"payload.type","pt":"msg","to":"context.type","tot":"flow"},{"t":"move","p":"payload.content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":580,"wires":[["bed13f64.c3625","e9d6ce93.da968"]]},{"id":"640f5186.a30b5","type":"watson-assistant-v2","z":"b5a4bd87.37b8f","name":"","service-endpoint":"","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":810,"y":480,"wires":[["e85a4e2b.52e51","5e568b6f.85ddd4"]]},{"id":"1b506f75.b7d091","type":"telegram sender","z":"b5a4bd87.37b8f","name":"BatmanBot2","bot":"f2d81d75.f51c8","haserroroutput":false,"outputs":1,"x":1270,"y":320,"wires":[[]]},{"id":"bed13f64.c3625","type":"debug","z":"b5a4bd87.37b8f","name":"debug conteudo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":640,"wires":[]},{"id":"b7dea55c.f916a8","type":"debug","z":"b5a4bd87.37b8f","name":"debug conteudo 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":420,"wires":[]},{"id":"5e568b6f.85ddd4","type":"change","z":"b5a4bd87.37b8f","name":"Conteudo 2","rules":[{"t":"move","p":"context.chatId","pt":"flow","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"move","p":"payload.output.generic.0.text","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":360,"wires":[["1b506f75.b7d091","b7dea55c.f916a8"]]},{"id":"e9d6ce93.da968","type":"function","z":"b5a4bd87.37b8f","name":"Proc Entrada WA Texto","func":"msg.params ={\"session_id \" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":580,"wires":[["640f5186.a30b5"]]},{"id":"5975c67e.3be178","type":"change","z":"b5a4bd87.37b8f","name":"Conteudo","rules":[{"t":"move","p":"transcription","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[["bba85c13.8995c"]]},{"id":"bc94cf65.1cd51","type":"debug","z":"b5a4bd87.37b8f","name":"transcrição","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"de7f0fc5.0cb07","type":"switch","z":"b5a4bd87.37b8f","name":"check type","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"voice","vt":"str"},{"t":"cont","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":260,"wires":[["f7c7dee4.0b979"],["c347b83c.5dcea8"]]},{"id":"34c753be.9811cc","type":"watson-speech-to-text","z":"b5a4bd87.37b8f","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":660,"y":200,"wires":[["5975c67e.3be178","bc94cf65.1cd51"]]},{"id":"bba85c13.8995c","type":"function","z":"b5a4bd87.37b8f","name":"Proc Entrada WA Audio","func":"msg.params ={\"session_id \" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":380,"wires":[["640f5186.a30b5"]]},{"id":"f7c7dee4.0b979","type":"change","z":"b5a4bd87.37b8f","name":"Conteudo Audio","rules":[{"t":"move","p":"payload.chatId","pt":"msg","to":"context.chatId","tot":"flow"},{"t":"move","p":"payload.type","pt":"msg","to":"context.type","tot":"flow"},{"t":"move","p":"payload.weblink","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["34c753be.9811cc","381bbb00.9e0866"]]},{"id":"381bbb00.9e0866","type":"debug","z":"b5a4bd87.37b8f","name":"debug audio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"6889c1da.ba00e","type":"function","z":"b5a4bd87.37b8f","name":"Proc Entrada WA Audio","func":"msg.params ={\"session_id \" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":60,"wires":[[]]},{"id":"f2d81d75.f51c8","type":"telegram bot","botname":"BatmanWA_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]